.activity__section {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 0px;
  }
}

.activity__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.activity__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  // margin-right: -30px;
}

.item-first,
.item-second,
.item-third {
  position: relative;
}

.info-first,
.info-second,
.info-third {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activity__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}
