.clients-section {
  max-width: 1600px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color);
}

.clients-wrapper {
  @media screen and (min-width: 1200px) {
  }
}

.clients-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  justify-content: space-between;
  list-style: none;

  @media screen and(min-width: 768px) {
    max-width: 738px;
    flex-wrap: wrap;
  }
  @media screen and(min-width: 1200px) {
    max-width: 1170px;
    flex-wrap: nowrap;
  }
}

.clients-icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients-link:hover &,
  .clients-link:focus & {
    fill: var(--accent-color);
  }
}

.clients-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 480px) {
    width: calc((100% - 2 * 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 3 * 30px) / 3);
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    width: calc((100% - 6 * 30px) / 6);
    margin-right: 30px;
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #afb1b8;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }

  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    width: 226px;
    height: 92px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    width: 170px;
    height: 92px;
  }
}

.clients-icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients-link:hover &,
  .clients-link:focus & {
    fill: var(--accent-color);
  }
}
