.team-section {
  max-width: 1600px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--third-background-color);
}

.team-wrapper {
  @media screen and (min-width: 768px) {
    margin: o;
    padding: 0;
  }
}

.team-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
  }
}

.team-list {
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.team-item {
  display: block;
  margin-bottom: 0;
  padding: 0;

  background-color: var(--background-color);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  & {
    @media screen and (max-width: 1200px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 767px) {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
  }
}

// .team-img {
//   @media screen and (max-width: 767px) {
//     margin-left: auto;
//     margin-right: auto;
//     width: 100%;
//   }

//   @media screen and (min-width: 768px) {
//     width: 354px;
//     height: 374px;
//     width: 100%;
//   }

//   @media screen and (min-width: 1200px) {
//     width: 270px;
//     height: 260px;
//     width: 100%;
//   }
// }

.team-item-description {
  padding: 30px 0px;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19x;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-item {
  &:last-child {
    margin-right: 0;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-link:hover &,
  .social-link:focus & {
    fill: var(--primary-title-color);
  }
}
