.mobile-menu {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 0 48px 25px;

  background-color: var(--header-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobile-menu__links {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-menu__item {
  &:not(:last-child) {
    margin-bottom: 36px;
  }
}

.mobile-menu__link {
  text-decoration: none;
  color: var(--primary-text-color);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.menu__button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  border: none;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.menu__button .close__icon {
  width: 19px;
  height: 19px;
}

.mobile-menu__contacts {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu__contact-phone {
  margin-bottom: 32px;
}

.mobile-menu__phone {
  text-decoration: none;
  color: var(--second-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-menu__contact-mail {
  margin-bottom: 64px;
}

.mobile-menu__mail {
  text-decoration: none;
  font-size: 24px;
  line-height: 1.16;
  color: var(--second-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-menu__social {
  display: flex;
  flex-wrap: wrap;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-menu__social-item {
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
  }
}

.mobile-menu__social-link {
  text-decoration: none;
  color: var(--accent-color);
}
